* {
    list-style: none; 
    margin: 0;
    padding: 0;
    border: 0;
}

html, body, #root, .App {
    height: 100%;
}

.wrapper {
    min-height: 100%;
    margin-bottom: -51px;
}

/* Header */
.header {
    position: fixed;
    top : 0;
    width: 100%;
    color : black;
    border-bottom : 1px solid #d1d8e4;
    background-color: white;
    display: block;
    z-index: 9999;
}

.header-container {
    margin : 0 auto;
    position: relative;
    width: 100%;
    max-width: 1100px;
    height: 56px;
    padding : 2px 40px;
    text-align: center;
}

.logo {
    padding : 5px 0 5px 0;
    width: 150px;
    height: 50px;
    float: left;
}

.sign-box {
    margin-right: 60px;
    padding : 5px 0 5px 0;
    height: 50px;
    float: right;
}

.sign {
    width: 100px;
    height: 34px;
    margin : 7px;
    line-height: 34px;
    border : 1px solid #A3DAF9;
    border-radius: 14px;
    background-color: #A3DAF9;
    float: left;
    font-weight: 900;
    text-decoration: none;
    color : white;
    cursor: pointer;
}

/* Content */
.content {
    padding-top: 63px;
}

/* Footer */
.footer {
    width: 100%;
    height: 50px;
    border-top: 1px solid #e3e3e3;
    text-align: center;
    background-color: #f8f8f8;
    line-height: 50px;
}

/* Login.js */
.login-container {
    position: absolute;
    top : 50%;
    margin-top: -170px;
    left: 50%;
    margin-left: -180px;
    height: 280px;
    width: 360px;
}

.input {
    margin : 15px 0 15px 0;
    padding : 5px 10px;
    border: 1px solid #d6d6d6;
}

input.text {
    border: 0;
    width: 100%;
    height: 28px;
    line-height: 28px;
    color: #292929;
    font-size: 16px;
    outline: none;
}

.submit {
    margin-bottom: 15px;
    background-color: #07689F;
}

p.submit input.text{
    text-align: center;
    height: 40px;
    line-height: 40px;  
    color: white;
    background-color: transparent;
    cursor: pointer;
}


/** MyRoom **/

.MyRoom_wrapper {
    background-color: #f8f8f8;
    min-height: 100%;
}

.Invitation_container {
    padding-top: 63px;
    height: 150px;
    margin : 0 180px;
    background-color: white;
}

.List_container {
    display : flex;
    justify-content: space-around;
    margin : 0 180px;
}

/** Room_card **/

.room_card {
    float: left;
    margin : 30px;
    width: 220px;
    height: 220px;
    border: 1px solid #e3e3e3;
    background-color: black;
}

