* {
    list-style: none; 
    margin: 0;
    padding: 0;
    border: 0;
}

html, body, #root, .App {
    height: 100%;
}

.wrapper {
    min-height: 100%;
    margin-bottom: -51px;
}

/* Header */
.header {
    position: fixed;
    top : 0;
    width: 100%;
    color : black;
    border-bottom : 1px solid #d1d8e4;
    background-color: white;
    display: block;
    z-index: 9999;
}

.header-container {
    margin : 0 auto;
    position: relative;
    width: 100%;
    max-width: 1100px;
    height: 56px;
    padding : 2px 40px;
    text-align: center;
}

.logo {
    padding : 5px 0 5px 0;
    width: 150px;
    height: 50px;
    float: left;
}

.sign-box {
    margin-right: 60px;
    padding : 5px 0 5px 0;
    height: 50px;
    float: right;
}

.sign {
    width: 100px;
    height: 34px;
    margin : 7px;
    line-height: 34px;
    border : 1px solid #A3DAF9;
    border-radius: 14px;
    background-color: #A3DAF9;
    float: left;
    font-weight: 900;
    text-decoration: none;
    color : white;
    cursor: pointer;
}

/* Content */
.content {
    padding-top: 63px;
    text-align: center;
}

/* Footer */
.footer {
    width: 100%;
    height: 50px;
    border-top: 1px solid #e3e3e3;
    text-align: center;
    background-color: #f8f8f8;
    line-height: 50px;
}

/* Login */
.login-container {
    position: absolute;
    top : 50%;
    margin-top: -170px;
    left: 50%;
    margin-left: -180px;
    height: 280px;
    width: 360px;
    text-align: center;
}

.login-container .input {
    margin : 15px 0 15px 0;
    padding : 5px 20px;
    border: 1px solid #d6d6d6;
    border-radius: 20px;
}

.login-container input.text {
    border: 0;
    width: 100%;
    height: 28px;
    line-height: 28px;
    color: #292929;
    font-size: 16px;
    outline: none;
}

.login-container .submit {
    margin-bottom: 15px;
    background-color: #07689F;
    border-radius: 20px;
}

.login-container p.submit input.text{
    text-align: center;
    height: 40px;
    line-height: 40px;  
    color: white;
    background-color: transparent;
    cursor: pointer;
}


/** MyRoom**/

.MyRoom_wrapper {
    background-color: #f8f8f8;
    min-height: 100%;
}

.Invitation_container {
    padding-top: 63px;
    height: 150px;
    margin : 0 180px;
}

/** Invitation **/

.invitation_area{
    height: 150px;
    margin-top:50px;
}
  
.invitation_box{
    width: 498px;
    height: 96px;
    border-radius: 10px;
    border: 1px solid #E6E6E6;  
    background: #fff;
    margin: 0 auto;
    overflow: hidden;
}
  
.invitation_box .room_color{
    margin: 15px;
    float:left;
}
  
.invitation_box .room_name{
    float:left;
    font-size: 20px;
    height: 40px;
    margin: 15px 10px 10px 0;
    width: 60px;
}
  
.invitation_box .room_member{
    font-size: 12px;
    margin: 20px 5px 5px 5px;
    float:left;
    width: 250px;
}
  
.invitation_box .room_desc{
    font-size: 12px;
    margin: 10px 5px 10px 5px;
    width: 250px;
    float: left;
}
  
.invitation_choose{
    height: 96px;
    width:80px;
    float:right;
    margin:15px 20px 0 0;
}

.invitation_accept{
    background: #A3DAF9;
    height: 30px;
    width: 70px;
    color: #fff;
    border-radius: 10px;
    text-align:center;
    margin-bottom:10px;
}
  
.invitation_deny{
    background: #fff;
    height: 30px;
    width: 70px;
    color: #857F7F;
    border: 1px solid #E6E6E6; 
    border-radius: 10px;
    text-align:center;
}

/** Room_card **/
.List_container {
    vertical-align: middle;
    text-align: center;
}
.room_card {
    display : inline-block;
    margin : 30px;
    width: 220px;
    height: 220px;
    border-radius: 20px;
    vertical-align: middle;
    background-color: white;
    border: 1px solid #E6E6E6;
}

/**Plus card**/
.plus_card {
    display : inline-block;
    margin : 30px;
    width: 220px;
    height: 220px;
    background-color: #D8D8D8;
    border-radius: 20px;
    cursor: pointer;
    vertical-align: middle;
}

.plus_card:hover {
    background-color:#BDBDBD;
}

.fa-plus {
    color : #6E6E6E;
    margin-top: 63px;
}

/**paging*/
.paging {
	margin-top: 15px;
	text-align: center;
	font-size: 0;
}
.paging a,
.paging strong {
	display: inline-block;
	width: 20px;
	height: 18px;
	margin: 0 1px;
	border: 1px solid #dbdbdb;
	color: #767676;
	font-size: 11px;
	font-weight: bold;
	line-height: 20px;
	vertical-align: middle;
  text-decoration: none;
}
.paging a:hover,
.paging a:active,
.paging a:focus {
	border: 1px solid #A3DAF9;	
}
.paging strong {
	color: #fff;
	background: #A3DAF9;
	border: 1px solid #A3DAF9;
}
.paging .direction {
	background: url('http://leroro.net/images/ui/sp_btn_paging.gif') no-repeat;
}
.paging .direction.prev {
	margin: 0 12px 0 1px;
	background-position: -20px 0;
}
.paging .direction.next {
	margin: 0 1px 0 12px;
	background-position: -40px 0;
}
.paging .direction span {
	position: absolute;
	display: block;
	width: 20px;
	height: 18px;
	overflow: hidden;
	z-index: -1;
}

/**MakeRoom**/


.makeroom-container {
    position: absolute;
    top : 50%;
    margin-top: -300px;
    left: 50%;
    margin-left: -180px;
    width: 360px;
    text-align: center;
}

.makeroom-container h1 {
    font-size: 28px;
}

.makeroom_form {
    margin-top: 30px;
    text-align: left;
}

.makeroom-container .input {
    margin : 5px 0 15px 0;
    padding : 5px 20px;
    border: 1px solid #d6d6d6;
    border-radius: 20px;
}

.makeroom-container input.text {
    border: 0;
    width: 100%;
    height: 28px;
    line-height: 28px;
    color: #292929;
    font-size: 16px;
    outline: none;
}

.makeroom-container .submit {
    float: left;
    width: 100px;
    margin-bottom: 15px;
    background-color: #07689F;
    border-radius: 20px;
    margin : 30px 40px;
}

.makeroom-container p.submit input.text{
    text-align: center;
    height: 40px;
    line-height: 40px;  
    color: white;
    background-color: transparent;
    cursor: pointer;
}




/** InRoom **/

.InRoom_wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    float: left;
}

.left_nav {
    border-right: 1px solid #d1d8e4;
    width: 260px    ;
    height: 100%;
    float: left;
}

.user {
    height: 35%;
    border-bottom: 1px solid #d1d8e4;
}

.content_list {
    height: 64%;
}

.room_content {
    width: calc(100% - 261px);
    height: 100%;
    float: left;
}

.chat {
    width: calc(100% - 401px);  
    height: 100%;
    float: left;
    border-right: 1px solid #d1d8e4;
}

.notice {
    width: 400px;
    height: 50%;
    float: right;
    border-bottom: 1px solid #d1d8e4;
}

.file {
    width: 400px;
    height: 49%;
    float: right;
}
